/* Default styles for all screens */
.App {
  
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  color: #333;
  z-index: 1000; /* Adjust z-index as needed */
  box-shadow: 0px  1px 3px rgba(0, 0, 0, 0.3); /* Add shadow color */
}


.logo-container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  cursor: pointer;
}

.blog-title {
  margin-left: 10px;
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 90px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
}

.button {
  background-color: rgba(246, 143, 30, 1);
  color: white;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 7px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .logo-container,
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .blog-title {
    margin: 10px 0;
  }

  nav ul li {
    margin: 0;
    margin-bottom: 10px;
  }

  .button {
    padding: 10px 30px;
    display: block;
  }
}

/*  END header mobile resposivenees */
/*   START OF Main image and Content-container */
.main-image {
  max-width: 100%;
  height: auto;
}
main {
  margin-top: 70px;
}

footer {
  margin-top: 30px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.content-container {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.text-image-container {
  background-color: rgba(0, 162, 173, 1); /* Gray background color for text and image */
  display: flex;
  flex: 1;
  padding: 20px;
  margin-left: -20px; /* Counteract the padding on the left */
  margin-right: -20px; /* Counteract the padding on the right */
}

.text-container {
  flex: 1; /* Expand to take available space */
  text-align: left;
}

.image-container {
  flex: 1; /* Expand to take available space */
  display: flex;
  justify-content: flex-end; /* Push image to the right */
  align-items: center;
}

.main-heading{
  font-family: Suisse Works;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 60px;
  margin-top: 120px;

}
.main-paragraph{
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 60px;
  margin-top: 0px;

}
@media screen and (max-width: 768px) {
  .text-image-container {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .text-container {
    margin-bottom: 10px;
  }

  .text-image-container {
    flex-direction: column;
  }

  .main-image {
    margin-top: 20px;
  }
}
/*   END OF Main image and Content-container */


/* Start of navigation scroll lists */
.general {
  text-align: center;
  padding: 10px;
  background-color: white;
  position: relative;
 
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-left: 60px;
  margin: 0;
}

.headers li {
  margin-left: 20px;
  margin-right: 20px;
}

.headers li:first-child {
  margin-left: 0;
}

.all-button button {
  border-radius: 100px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(246, 143, 30, 1);
  line-height: 28px;
  padding: 5px 38px;
}

.headers a {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  
}

.search-button button {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto';
  font-style: normal;
  padding: 5px 10px;
  cursor: pointer;
}

.search-button .search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.fixed-nav {
  position: fixed;
  top: 90px;
  width: 100%;
  /* Add other styles as needed */
}
/* End of navigation scroll lists */



/* styles.css */
.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Adjust as needed */
}

/* .col-sm-4 {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px; 
  background-color: rgba(246, 143, 30, 1);
  padding: 20px;
  color: white;
  border-radius: 5px;
} */
.col-heading {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
}

.col-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 243, 243);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0;
  text-align: center;
  width: 272px;
  height: 60px;
  border-radius: 5px;
  margin: 160px auto 30px; /* Adjust the margin-top value as needed */
  text-decoration: none;
}

.col-button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}




.col-image {
  width: 100%;
  height: auto;
}
.content {
  padding: 20px;
}

.date {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.author-name {
  margin: 0;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}

.author-image {
  
  border-radius: 50%;
  margin-right: 10px;
}

.title {
  max-width: 100%; /* Set maximum width to cover available space */
  font-weight: 700;
  margin-top: 20px; /* Adjusted margin for spacing */
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}


/* Footer.css */

.footer {
  padding: 20px;
  background-color: rgba(10, 80, 85, 1);
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  margin-top: 40px;
}

.social-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-icon span {
  margin-left: 10px;
  font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
}

.contact p {
  margin: 0;
  margin-top: 50px;
}

.additional-links {
  margin-top: 50px;
  padding-left: 120px;
}

.link-item a {
  display: block;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

.link-item a:hover {
  color: white;
}
.CONT{
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
padding-left: 90px;
}
.CONNT{
  width: 341.85552978515625px;
height: 121.87154388427734px;
top: 2531px;
left: 238px;
padding-left: 60px;
}
.cone{
  font-family: Roboto;
font-size: 25px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(2, 162, 172, 1);
margin-top: 40px;
cursor: pointer;
padding-left: 120px;
}


.link-item{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 990px;
  margin-top: -40px;
}

.footer-links a {
  margin-right: 10px; /* Add some spacing between links */
  color: white;
  text-decoration: none;
}

.footer-line {
  padding-left: 5px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 1);
}
.subscribe-area {
  padding-bottom: 19px;
  padding-top: 30px;
  background-color: rgba(222, 243, 245, 1);
  align-items: center;
}

.dexx{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;

}


