/* Default styles for all screens */
.App {
  background-color: aliceblue;
  padding: 0px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: white;
  color: #333;
  z-index: 1000; /* Adjust z-index as needed */
  box-shadow: 0px  1px 3px rgba(0, 0, 0, 0.3); /* Add shadow color */
}

.nav-list{
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo-container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  cursor: pointer;
}

.blog-title {
  margin-left: 10px;
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 90px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
}

.button {
  color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 5px;
background: #F68F1E;
width: 239px;
height: 46px;
flex-shrink: 0;
border: none; 
box-shadow: none;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .logo-container,
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .blog-title {
    margin: 10px 0;
  }

  nav ul li {
    margin: 0;
    margin-bottom: 10px;
  }

  .button {
    padding: 10px 30px;
    display: block;
  }
}

/*  END header mobile resposivenees */
/*   START OF Main image and Content-container */
.main-image {
  max-width: 100%;
  height: auto;
}
main {
  margin-top: 70px;
}



.content-container {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.text-image-container {
  background-color: rgba(0, 162, 173, 1); /* Gray background color for text and image */
  display: flex;
  flex: 1;
  padding: 20px;
  margin-left: -20px; /* Counteract the padding on the left */
  margin-right: -20px; /* Counteract the padding on the right */
  overflow: hidden;
}

.text-container {
  flex: 1; /* Expand to take available space */
  text-align: left;
}

.image-container {
  flex: 1; /* Expand to take available space */
  display: flex;
  justify-content: flex-end; /* Push image to the right */
  align-items: center;
}

.main-heading{
  font-family: Suisse Works;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 60px;
  margin-top: 120px;

}
.main-paragraph{
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 60px;
  margin-top: 0px;

}
@media screen and (max-width: 768px) {
  .text-image-container {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .text-container {
    margin-bottom: 10px;
  }

  .text-image-container {
    flex-direction: column;
  }

  .main-image {
    margin-top: 20px;
  }
}
/*   END OF Main image and Content-container */


/* Start of navigation scroll lists */
.general {
  text-align: center;
  padding: 10px;
  background-color: white;
  position: relative;
 
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-left: 60px;
  margin: 0;
}

.headers li {
  margin-left: 20px;
  margin-right: 20px;
}

.headers li:first-child {
  margin-left: 0;
}

.all-button button {
  display: inline-flex;
  padding: 5px 38px;
  align-items: flex-start;
  gap: 10px;
  border: none; 
  box-shadow: none; 
  border-radius: 100px;
  background: #F68F1E;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



button, select {
  text-transform: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.headers a {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 540;
  color: #333333;
  text-decoration: none;
  
}

.search-button button {
  height: 46px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #EEE;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center; /* Vertically aligns icon and text */
  padding: 0 30px; /* Adds space on left and right sides */
  width: 200px;
  margin-left: 10px;
}

.Icon-but {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 10px; /* Adds space between icon and text */
}

.search-button button svg {
  flex-shrink: 0;
  margin-right: 10px; /* Adds space between icon and text */
}

.search-button button span {
  flex-grow: 1; /* Expands text to fill available space */
}


.fixed-nav {
  position: fixed;
  top: 90px;
  width: 100%;
  /* Add other styles as needed */
}
/* End of navigation scroll lists */



/* styles.css */
.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Adjust as needed */
  
}

/* .col-sm-4 {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px; 
  background-color: rgba(246, 143, 30, 1);
  padding: 20px;
  color: white;
  border-radius: 5px;
} */
.col-heading {
  width: 361px;
  color: #FFFDFD;
text-align: center;
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 60px;
margin-bottom: -30px;
}

.col-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 243, 243);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0;
  text-align: center;
  width: 272px;
  height: 60px;
  border-radius: 5px;
  margin: 160px auto 30px; /* Adjust the margin-top value as needed */
  text-decoration: none;
  margin-top: 170px;
  color: #F68F1E;
}

.col-button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}




.col-image {
  width: 100%;
  height: auto;
}
.content {
  padding: 20px;
  background-color: 
  rgba(255, 255, 255, 1);
}

.date {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 156px;
  height: 21px;
  flex-shrink: 0;

}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.author-name {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 134px;
  height: 21px;
  flex-shrink: 0;
  margin-right: -30px;
  margin-left: 20px;

}

.author-image {
  margin-bottom: 14px;
  width: 30px;
height: 30px;
flex-shrink: 0;
border-radius: 30px;
}

.title {
  max-width: 100%; /* Set maximum width to cover available space */
  font-weight: 700;
  margin-top: 20px; /* Adjusted margin for spacing */
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 70px;
}

/* START OF THE FOOTER */

.footer {
  padding: 20px;
  background-color: rgba(10, 80, 85, 1);
  margin-top: 30px;
  
  color: #fff;
  padding: 10px;
  overflow: hidden;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  margin-top: 40px;
}

.social-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-icon span {
  margin-left: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}

.contact p {
  margin: 0;
  margin-top: 50px;
}

.additional-links {
  margin-top: 50px;
  padding-left: 120px;
}

.link-item a {
  display: block;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

.link-item a:hover {
  color: white;
}
.CONT{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  padding-left: 90px;
}
.CONNT{
  width: 250px;
  height: 80px;
  top: 2531px;
  left: 238px;
  padding-left: 60px;
}
.cone{
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(2, 162, 172, 1);
  margin-top: 40px;
  cursor: pointer;
  padding-left: 120px;
}


.link-item{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 990px;
  margin-top: -40px;
}

.footer-links a {
  margin-right: 10px; /* Add some spacing between links */
  color: white;
  text-decoration: none;
}

.footer-line {
  padding-left: 5px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 1);
}
.footer-copyright{
  padding-left: 90px;
}
/* Styles for small screens */
@media screen and (max-width: 767px) {
  .footer-columns {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center columns horizontally */
  }

  .footer-column {
    margin: 10px 0; /* Add spacing between stacked columns */
  }

  .social-icons,
  .footer-links {
    display: flex;
    justify-content: center; /* Center social icons and links horizontally */
    margin-top: 20px;
  }

  .footer-links {
    flex-wrap: wrap; /* Allow links to wrap on small screens */
  }

  .footer-copyright {
    text-align: center; /* Center copyright text */
  }
  .footer-bottom {
    padding: 20px; /* Maintain padding for consistency */
    text-align: center; /* Center footer-bottom content */
  }
  .footer-links {
    align-items: flex-start; /* Center links vertically */
    padding-right:50px;
  }
 
}

/* Styles for medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact {
    text-align: center; /* Center contact text */
  }

  .contact p {
    padding: 0 20px; /* Add some padding for better readability */
  }

  .additional-links,
  .footer-links,
  .social-icons {
    padding: 0 20px; /* Adjust padding for better alignment */
  }
  .footer-bottom {
    padding: 20px; /* Maintain padding for consistency */
    
  }
}

/* Styles for large screens */
@media screen and (min-width: 1024px) {
  .footer-columns {
    justify-content: space-between; /* Restore original alignment */
  }

  .footer-column {
    min-width: auto; /* Remove minimum width for larger screens */
  }

  .social-icons {
    padding-left: 120px; /* Restore original padding */
  }

  .footer-links {
    justify-content: flex-start; /* Align links to the left */
  }

  .footer-copyright {
    padding-left: 90px; 
  }
  

  .footer-bottom {
    padding-left: 90px; /* Restore original padding */
  }
}
/* END OF THE FOOTER */
/*  START OF subscribe-area */
/* Common styles for all screen sizes */
.subscribe-area {
  padding-bottom: 19px;
  padding-top: 30px;
  background-color: rgba(222, 243, 245, 1);
  align-items: center;
}

.dexx {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .subscribe-text,
  .subscribe-wrapper {
    text-align: center; /* Center the content on small screens */
  }
  
  .form-inline.newsletter {
    flex-direction: column; /* Stack form inputs vertically on small screens */
    align-items: center; /* Center form inputs horizontally */
  }
  
  .form-group {
    margin-bottom: 10px; /* Add spacing between form fields */
  }
  
  .form-group.formgroup2 {
    margin-top: 10px; /* Add spacing between form fields */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
  }
  
  .form-group.formgroup2 input[type="email"] {
    border-left: none; /* Remove border left on small screens */
    margin-left: 0; /* Reset margin left */
  }
  
  .form-group.formgroup2 a {
    margin-top: 10px; /* Add spacing between submit button and email input */
  }
}


/*  END  OF subscribe-area */


