/* Default styles for all screens */
.App {
  background-color: aliceblue;
  padding: 0px;
  overflow-x: hidden; 
}

/* Complete CSS with added styles */

/* Complete CSS with responsive styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: #fff;
  color: #333;
  z-index: 1000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-content {
  display: flex;
  align-items: center;
}

.blog-title {
  margin-top: 0.5rem;
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-item {
  margin-right: 1rem;
  cursor: pointer;
}

.butt {
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  background: #f68f1e;
  width: 120px;
  height: 36px;
  flex-shrink: 0;
  border: none;
  box-shadow: none;
}

/* Updated styles for menu icon and close icon */
.menu-toggle {
  cursor: pointer;
}

.icon {
  display: none; /* Hide the menu icon by default */
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.icon-open .bar {
  background-color: #f68f1e;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: background-color 0.3s ease-in-out;
}

.close-icon-content {
  color: #f68f1e;
  font-size: 1.5rem;
  
}

/* Media query for small screens */
@media (max-width: 768px) {
  .header .blog-title {
    display: none;
  }
  .logo-content.logo{
    margin-top: 20px;
  }

  .header {
    background-color: white; /* Add background color to cover the entire page */
  }

  .menu-item {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 60px;
  }
  
  .nav-list {
    flex-direction: column;
  }

  .butt {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background: #f68f1e;
    width: 120px;
    height: 36px;
    flex-shrink: 0;
    border: none;
    box-shadow: none;
  }

  .icon {
    display: flex; /* Show the menu icon on small screens */
  }

  .visible {
    display: none; /* Hide menu items when the menu is closed on small screens */
  }

  /* Updated styles for close icon */
  .close-icon {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
  }
}



/* Media query for large screens */
@media (min-width: 769px) {
  .nav-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .menu-item,
  .services-button {
    display: block; /* Display the menu items and the button */
    margin-right: 1rem;
  }

  /* Additional styles to reset hidden properties from smaller screens */
  .icon {
    display: none;
  }

  .close-icon {
    display: none;
  }

  /* Make sure there's no conflicting style affecting visibility */
  .menu-item,
  .services-button {
    display: block !important;
  }
}













/*  END header mobile resposivenees */
/*   START OF Main image and Content-container */

main {
  margin-top: 70px;
}
.main-image {
  max-width: 100%;
  height: auto;
}
.content-container {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.text-image-container {
  background-color: rgba(0, 162, 173, 1); /* Gray background color for text and image */
  display: flex;
  flex: 1;
  padding: 20px;
  margin-left: -20px; /* Counteract the padding on the left */
  margin-right: -20px; /* Counteract the padding on the right */
  overflow: hidden;
}

.text-container {
  flex: 1; /* Expand to take available space */
  text-align: left;
}

.image-container {
  flex: 1; /* Expand to take available space */
  display: flex;
  justify-content: flex-end; /* Push image to the right */
  align-items: center;
}

.main-heading{
  font-family: Suisse Works;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 60px;
  margin-top: 120px;

}
.main-paragraph{
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 60px;
  margin-top: 0px;

}
@media screen and (max-width: 768px) {
  .text-image-container {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .text-container {
    margin-bottom: 10px;
    color: #F68F1E;
  }

  .text-image-container {
    flex-direction: column;
  }

  .main-image {
    margin-top: 20px;
  }
  .main-heading{
    font-size: 25px;
    font-weight: 200;
    line-height: 20px;
    align-items: center;
    padding-left: 20px;
    margin-top: 140px;
  }
  .main-paragraph{
    font-size: 18px; 
    font-weight: 80;
    line-height: 19px;
    align-items: center;
    padding-left: 20px;
    margin-top: 10px;
  }
}
/*   END OF Main image and Content-container */


/* Start of navigation scroll lists */
/* Existing CSS */

.general {
  text-align: center;
  padding: 10px;
  background-color: white;
  position: relative;
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-left: 60px;
  margin: 0;
}

.headers li {
  margin-left: 20px;
  margin-right: 20px;
}

.headers li:first-child {
  margin-left: 0;
}

.all-button button {
  display: inline-flex;
  padding: 5px 28px; /* Adjust padding for smaller screens */
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 100px;
  background: #f68f1e;
  color: #fff;
  font-family: Roboto;
  font-size: 18px; /* Slightly reduce font size for smaller screens */
  font-weight: 700;
  line-height: normal;
}
.logo{
  width:100px;
}

.headers a {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 540;
  color: #333333;
  text-decoration: none;
}

.search-button button {
  height: 40px; /* Slightly reduce height for smaller screens */
  flex-shrink: 0;
  border-radius: 5px;
  background: #eee;
  color: #000;
  font-family: Roboto;
  font-size: 18px; /* Slightly reduce font size for smaller screens */
  font-weight: 300;
  line-height: normal;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  padding: 0 16px; /* Adjust padding for smaller screens */
  width: 150px;
  margin-left: 10px;
}

.Icon-but {
  width: 20px; /* Reduce icon size for smaller screens */
  height: 20px; /* Reduce icon size for smaller screens */
  flex-shrink: 0;
  margin-right: 8px; /* Adjust margin for smaller screens */
}

.search-button button svg {
  flex-shrink: 0;
  margin-right: 8px; /* Adjust margin for smaller screens */
}

.search-button button span {
  flex-grow: 1;
}

.fixed-nav {
  position: fixed;
  top: 100px;
  width: 100%;
}

/* Small screens (up to 600px) */
@media (max-width: 600px) {
  /* Adjustments for small screens */
  #top-space {
    height: 5px; /* Adjust height */
  }
  .fixed-nav {
    position: fixed;
    top: 50px;
    width: 100%;
  }
  .logo {
    width: 100px;
    margin-top: -90px;
  }
  .headers {
    padding-left: 10px; /* Adjust padding */
    align-items: center; /* Revert alignment */
    margin-top: 30px;
  }
  
  .headers li {
    margin: 5px 0;
  }
  .logo {
    width: 100px;
    margin-top: -150px;
  }
  
  .all-button button,
  .search-button button {
    width: 100%;
    padding: 5px 12px; /* Adjust padding */
    font-size: 14px;
  }
  
  .Icon-but {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  .headers a{
    font-size: 6px;
    color:black;
    line-height : 7px;
    padding: 2px 6px;
  }
  
  .search-button button svg,
  .search-button button span {
    margin-right: 3px;
    font-size: 12px;
    margin-right: 5px;

  }
  
  .search-button button svg {
    width: 12px;
  }
  
  .search-button button {
    height: 36px;
    width: 80%;
  }
  
  .fixed-nav {
    align-items: center;
    padding-left: 10px; /* Adjust padding */
    line-height: 20px;
  }
}

/* Medium screens (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  /* Adjustments for medium screens */
  .headers {
    padding-left: 30px; /* Adjust padding */
  }
  
  .all-button button {
    padding: 5px 16px; /* Adjust padding */
    font-size: 16px;
  }
  .logo{
    width:210px;
  }
  
  .search-button button {
    width: auto;
    margin-left: 5px;
  }
}

/* Large screens (1025px and above) */
@media (min-width: 1025px) {
  /* No specific adjustments needed for large screens */
  .headers {
    padding-left: 60px;
  }
  .logo{
    width: 120px;
  }
}



/* Media queries */



/* End of navigation scroll lists */


/* START OF COLUMNS */
/* styles.css */
.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Adjust as needed */
  
}

/* .col-sm-4 {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px; 
  background-color: rgba(246, 143, 30, 1);
  padding: 20px;
  color: white;
  border-radius: 5px;
} */
.col-heading {
  /* width: 361px; */
  color: #FFFDFD;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  margin-bottom: -30px;
}

.col-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 243, 243);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0;
  text-align: center;
  /* width: 272px; */
  height: 60px;
  border-radius: 5px;
  margin: 160px auto 30px; /* Adjust the margin-top value as needed */
  text-decoration: none;
  margin-top: 170px;
  color: #F68F1E;
}

.col-button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}
.col-image {
  width: 100%;
  height: auto;
}
.content {
  padding: 20px;
  background-color: 
  rgba(255, 255, 255, 1);
}

.date {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 156px;
  height: 21px;
  flex-shrink: 0;

}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.author-name {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 134px;
  height: 21px;
  flex-shrink: 0;
  margin-right: -30px;
  margin-left: 20px;

}

.author-image {
  margin-bottom: 14px;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
}
.col-content{
  
  height: 454px;
   
}

.title {
  max-width: 100%; /* Set maximum width to cover available space */
  font-weight: 700;
  margin-top: 20px; /* Adjusted margin for spacing */
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 70px;
}


/* Media queries */
@media screen and (max-width: 768px) {
  .col-heading {
    font-size: 24px; /* Further reduce font size for small screens */
    margin-top: 20px; /* Further adjust margin for small screens */
    margin-bottom: -5px; /* Further adjust margin for small screens */
  }

  .col-button {
    font-size: 18px; /* Further reduce font size for small screens */
    height: 35px; /* Further reduce height for small screens */
    margin: 30px auto 5px; /* Further adjust margin for small screens */
  }
  .title{
    font-size: 18px;
  }
  
  .author-name{
    font-size: 16px;
  }
  .author-image {
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .date {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 126px;
    height: 21px;
    flex-shrink: 0;
  
  }
}

@media screen and (max-width: 480px) {
  .col-heading {
    font-size: 24px;
    margin-top: 55px;
    margin-bottom: -60px;
  }

  .col-button {
    font-size: 16px; /* Further reduce font size for extra small screens */
    height: 30px; /* Further reduce height for extra small screens */
    margin: 390px auto 7px;
  }
}

/* END OF BUTTON */

/* START OF THE FOOTER */

/* Global styles */
/* Global styles */
.footer {
  padding: 20px;
  background-color: rgba(10, 80, 85, 1);
  margin-top: 30px;
  color: #fff;
  padding: 10px;
  overflow: hidden;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  margin-top: 40px;
}

.social-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-icon span {
  margin-left: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}

.contact p {
  margin: 0;
  margin-top: 50px;
}

.additional-links {
  margin-top: 50px;
  padding-left: 120px;
  display: none; 
}

.additional-links.show {
  display: block;
}

.link-item a {
  display: block;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

.link-item a:hover {
  color: white;
}

.CONT {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  padding-left: 90px;
}

.CONNT {
  width: 250px;
  height: 80px;
  top: 2531px;
  left: 238px;
  padding-left: 60px;
}

.cone {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(2, 162, 172, 1);
  margin-top: 40px;
  cursor: pointer;
  padding-left: 120px;
}

.link-item {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 990px;
  margin-top: -40px;
}

.footer-links a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.footer-line {
  padding-left: 5px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 1);
}

/* Media query for small screens */
@media (max-width: 768px) {
  /* Additional styles for small screens */
  .footer-columns {
    flex-direction: column;
  }
  
  .footer-column {
    margin: 0;
    padding: 0;
  }

  .footer-column .cone-container {
    padding-left: 20px;
  }

  .footer-column .arrow {
    display: block;
    float: right;
  }

  .footer-column.show .additional-links,
  .footer-column.show .social-icons {
    display: block;
    padding-left: 120px;
  }

  .footer-links {
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 20px;
  }

  .CONNT,
  .CONT {
    display: none;
  }
}


/* Media query for large screens */
@media (min-width: 769px) {
  /* Show the arrow on large screens */
  .footer-column .arrow {
    display: none;
  }

  /* Show the content on large screens */
  .footer-column.show .additional-links,
  .footer-column.show .social-icons {
    display: block;
    padding-left: 120px;
  }
  
  /* Display the links on large screens */
  .footer-column .additional-links {
    display: block;
  }
}




/* END OF THE FOOTER */
/*  START OF subscribe-area */
/* Common styles for all screen sizes */
.subscribe-area {
  padding-bottom: 19px;
  padding-top: 30px;
  background-color: rgba(222, 243, 245, 1);
  align-items: center;
}

.dexx {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .subscribe-text,
  .subscribe-wrapper {
    text-align: center; /* Center the content on small screens */
  }
  
  .form-inline.newsletter {
    flex-direction: column; /* Stack form inputs vertically on small screens */
    align-items: center; /* Center form inputs horizontally */
  }
  
  .form-group {
    margin-bottom: 10px; /* Add spacing between form fields */
  }
  
  .form-group.formgroup2 {
    margin-top: 10px; /* Add spacing between form fields */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
  }
  
  .form-group.formgroup2 input[type="email"] {
    border-left: none; /* Remove border left on small screens */
    margin-left: 0; /* Reset margin left */
  }
  
  .form-group.formgroup2 a {
    margin-top: 10px; /* Add spacing between submit button and email input */
  }
  .dexx {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
}


/*  END  OF subscribe-area */


