/* LandingPageTips.css */

/* Base styles */
.landing-page-tips-container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    margin-left: 172px;
  }
  
  .tip-h2 {
    color: #333;
  }
  
  /* Media queries for different screen sizes */
  
  /* Smartphones */
  @media only screen and (max-width: 480px) {
    .landing-page-tips-container {
      max-width: 100%; /* Full width for small screens */
      padding: 10px;
    }
  }
  
  /* iPads and Tablets */
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    .landing-page-tips-container {
      max-width: 80%; /* Adjust as needed */
    }
  }
  
  /* iPhones */
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .tip-h2 {
      font-size: 1.5em; /* Adjust font size for smaller screens */
    }
  }
  
  /* Other screen sizes - Add more media queries as needed */
  