/* PostNavigationUpdated.css */
.updated-post-navigation-left {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  
  @media (min-width: 992px) {
    .updated-post-navigation-left {
      width: 357px;
      margin-left: 68px;
      cursor: pointer;
    }
  }
  
  .updated-post-navigation-left {
    height: 100%;
    overflow-y: auto;
    margin-top: 114px;
  }
  
  .updated-post-content {
    flex: 1;
  }
  
  .updated-nav-title {
    margin-left: 67px;
  }
  
  .updated-containerTopInner {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
  
  .updated-col-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  [class^="updated-col-"] {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 768px) {
    .updated-col-sm-12 {
      width: 100%;
    }
  }
  
  ul li {
    padding: 2px 0 0 24px;
    margin: 0;
    list-style-type: none;
    vertical-align: top;
    position: relative;
  }
  
  @media (min-width: 992px) {
    .updated-col-lg-3,
    .updated-col-lg-9 {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .updated-col-lg-3 {
      max-width: 230px;
    }
  
    .updated-col-lg-9 {
      flex: 1;
    }
  }
  
  @media (max-width: 767px) {
    .updated-post-navigation-left {
      height: 100%;
      overflow-y: auto;
      margin-top: 114px;
      display: none;
    }
  }
  